<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="./../assets/favicon.ico" type="icon/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Stella Cheon</title>
  </head>
  <body>
<header>
  <nav class="test">
      <div class="nav-close">
        <a href="" routerLink="/" class="logo">Stella's Portfolio</a>
          <ul class="nav-links">
            <li class="nav-button"><a>Contact</a></li>
            <li><a href="" routerLink="/experience">Experience</a></li>
            <li><a href="" routerLink="/portfolio">Portfolio</a></li>
          </ul>
          <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>

      </div>
      <section class="nav-open">
        <button class="close">close</button>
        <div class="info">
          <h2>E-Mail</h2>
          <a href="mailto:stella.ch90@gmail.com"><span>stella.ch90@gmail.com</span></a>
        </div>
      </section>
  </nav>
  
    <img class="cover" src="" alt="" id="topImg">
    <h3 id="contentName"></h3>
  
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

    <footer class="info">
     <p>&copy; Copyright, 2020. Stella Cheon</p>
    </footer>
    
  </body>
  <script src="../main.js"></script>
</html>