/* You can add global styles to this file, and also import other style files */
* {
	background-color: transparent;
	color: var(--white);
	font-family: 'Raleway', sans-serif;
	--primary-a: #104c63;
	--lightgrey: #a0a0a0;
	--darkgrey: #515253;
	--point: #e2c700;
	--black: #000000;
	max-width: 1366px;
}
html {
	margin: 0 auto;
	background-color: var(--bg);
}
ul {
	list-style: none;
	padding: 0;
}
ol {
	list-style: none;
	padding: 0;
}
li {
	list-style: none;
	padding: 0;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: var(--white);
	cursor: pointer;
}
body {
	margin: 0.6em;
}
label {
	cursor: pointer;
}
button {
	cursor: pointer;
}
[type=button] {
	cursor: pointer;
}
[type=submit] {
	cursor: pointer;
}
[type=reset] {
	cursor: pointer;
}
.clearfix {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}


$main: #e8c910;
$white: #ffffff;
$black: #000000;
$bg: #272727;
$lightgrey: #b0b0b0;
$hover: #E8C910;
$second: #F5D0C5;

:root {
	--main: #{$main};
	--white: #{$white};
	--black: #{$black};
	--bg: #{$bg};
	--lightgrey: #{$lightgrey};
	--hover: #{$hover};
	--second: #{$second};
}